p {
    padding: 20px;
    font-size: 18px;
    min-width: 250px;
    width: 70%;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 8px;
    background-color: #f8f8f8;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

p:hover {
    transform: scale(1.05);
}
